{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row g-0">
            <div class="col-12 my-auto">
                <h1>Welcome to Wag and Whisper</h1>
                <p class="lead">Join us for a coffee and fall in love with our residents</p>
            </div>
        </div>
        <div class="row g-0">
            <!-- expanding images -->
        </div>
    </div>
{% endblock %}