html {
    height: 100%;
}

main {
    margin-top: 200px;
    height: calc(100vh - 200px);
    background-color: #F6F2EA;
}

header {
    background-color: #6f1d1b;
    height: 200px;
    padding: 0 0 0 0;
}

/* ------------------- NAVBAR --- */

#logo {
    padding-top: 10px;
}

#navbar-menu-items a{
    font-family: 'Raleway', sans-serif;
    color: #ffe6a7;
    font-size: 1.4rem;
}

.navbar-expand-lg .navbar-nav .nav-link,
#user-nav-items {
    padding-right: .8rem;
    padding-left: .8rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------------------- PAGE HEADER --- */

.page-header {
    padding: 20px 0;
}

.page-header h1 {
    font-family: 'Raleway', sans-serif;
}

.page-header p {
    font-family: 'Montserrat', sans-serif;
}

.page-header h1,
.page-header p {
    color: #432818;
}